.section {
    position: relative;
    top: auto;
  }

  .page_padding {
    position: relative;
    z-index: 99;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
  }

  .container_large {
    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    border: 1px none #000;
  }

  .pricing_component {
    width: 100%;
  }

  .w_layout_grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  .pricing_top_row {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 26% 14.8% 14.8% 14.8% 14.8% 14.8%;
    grid-template-columns: 26% 14.8% 14.8% 14.8% 14.8% 14.8%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-bottom: 1px none #000;
    background-color: #fff;
    box-shadow: 0 7px 14px -5px rgba(0, 0, 0, 0.04);
  }

  .pricing_top_row_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 2rem 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-left: 1px none #000;
    background-color: #fafafa;
  }
  
  .pricing_top_row_content.is_2 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #f2f2f2;
  }
  
  .pricing_top_row_content.is_1 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .pricing_top_row_content.is_2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff8de;
  }
  
  .pricing_top_row_content.is_4 {
    background-color: #f4f4f4;
  }

  .pricing_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fafafa;
  }

  .text_size_large {
    font-size: 1.2rem;
  }

  .text_size_xlarge {
    font-size: 1.3rem;
  }

  .pricing_title_wrap {
    margin-bottom: 0.75rem;
  }

  .button_secondary {
    padding: 0.5rem 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 0.3rem;
    background-color: transparent;
    color: #000;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
  }
  
  .button_secondary:hover {
    background-color: #ffcb05;
  }
  
  .button_secondary.is_button_small {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 0.875rem;
    line-height: 1.3;
    white-space: normal;
  }
  
  .button_secondary.is_button_small:hover {
    background-color: #ffcb05;
  }

  .w_button {
    display: inline-block;
    padding: 9px 15px;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }

  .price_content_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0rem;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .price {
    font-size: 1.8rem;
    line-height: 0.8;
  }
  
  .price.is_package {
    font-size: 2rem;
  }
  
  .package_label {
    color: #535353;
  }

  .package_label.is_pricing {
    font-size: 1rem;
  }

  .pricing_row {
    width: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 26% 14.8% 14.8% 14.8% 14.8% 14.8%;
    grid-template-columns: 26% 14.8% 14.8% 14.8% 14.8% 14.8%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-bottom: 1px solid #d0d0d0;
    
  }

  .pricing_feature {
    padding: 0.75rem 1.5rem;
    background-color: #000;
    color: #d0d0d0;
  }

  .package_desc_list {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .package_desc_list.is_gold {
    color: #ffcb05;
    font-weight: 600;
  }

  .pricing_row.is_last {
    border-bottom-style: none;
  }

  .button {
    margin-right: 0rem;
    padding: 0.5rem 1.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 0.3rem;
    background-color: #000;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
  }

  .button:hover {
    background-color: #ffcb05;
    color: #000;
  }

  .button.is_button_small {
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.3;
  }

  .button_secondary {
    padding: 0.5rem 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 0.3rem;
    background-color: transparent;
    color: #000;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
  }
  
  .button_secondary:hover {
    background-color: #ffcb05;
  }
  
  .button_secondary.is_button_small {
    position: static;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 0.875rem;
    line-height: 1.3;
    white-space: normal;
  }
  
  .button_secondary.is_button_small:hover {
    background-color: #ffcb05;
  }

  .renewal_date {
    margin-top: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
  }
  
  .package_icon_tick {
    width: 1.3rem;
    margin-top: 10%;
    margin-left:10%;
  }

  .package_icon {
    width: 1rem;
    margin-top: 10%;
    margin-left:10%;
  }

  .package_text {
    font-size: 1rem;
    margin-top: 10%;
    margin-left:10%;
  }