.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #000;
  height: 90px;
  font-size: 1rem;
}
.ant-layout-header {
  background: #000;
  height: 90px;
}

.logo {
  /* position: relative;
    float: left;
    text-decoration: none;
    color: #333333; */
  
  z-index: 2;
  float: left;
  width: 220px;
  height: 50px;
  margin: 16px 24px 16px 0;
  /* background: rgb(255, 255, 255);  */
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.Header-content {
  padding-left: 30%;
}

.menu-item {
  margin-left: 20px;
  width: 5%;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #000;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #000;
}


  [data-theme="dark"] .site-layout-content {
    background: #000;
  }

  .ant-modal-content {
    overflow: auto;
    border-radius: 24px
}

.site-layout-content{
  margin-top: 9rem;
}